<!DOCTYPE html>
<html lang="en">
<head>
    <title>About - Startup Prophet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body text="white" class="i">
<button class="ab" onclick="window.location.href='/'">Back</button>
    <h1 align="center">Attributes of Startup Success Prediction</h1>
    <p align="center">Understanding the key attributes used to predict the success of startups.</p>
    <hr/>
    <div class="content">
        <h2>01)is_ecommerce</h2>
        <p>This attribute indicates whether the startup operates in the e-commerce sector.i.e. sellings goods or online service</p>

        <h2>02)is_otherstate</h2>
        <p>This attribute shows if the startup is based outside the primary startup hubs.</p>

        <h2>03)has_vc</h2>
        <p>This attribute signifies if the startup has received venture capital funding.</p>

        <h2>04)has_angel</h2>
        <p>This attribute indicates whether the startup has received funding from angel investors.</p>

        <h2>05)has_roundA</h2>
        <p>This attribute denotes if the startup has successfully raised a Series A funding round.i.e.did they have plan for developing bussiness.</p>

        <h2>06)has_roundB</h2>
        <p>This attribute indicates whether the startup has raised a Series B funding round.i.e.scaling the team members</p>

        <h2>07)has_roundC</h2>
        <p>This attribute signifies if the startup has completed a Series C funding round.i.e.develop new products,expand to new markets.</p>

        <h2>08)has_roundD</h2>
        <p>This attribute shows whether the startup has raised a Series D funding round.</p>

        <h2>09)is_top500</h2>
        <p>This attribute shows if the startup is ranked among the top 500 startups in its category or region.</p>

        <h2>10)funding_rounds</h2>
        <p>This attribute indicates the total number of funding rounds the startup has gone through.</p>

        <h2>11)milestones</h2>
        <p>This attribute denotes the number of significant milestones the startup has achieved, such as product launches, market expansions, or major partnerships.</p>

        <h2>12)relationships</h2>
        <p>This attribute signifies the number of key relationships and partnerships the startup has established, which can be crucial for its growth and success.</p>
    </div>
    <nav class="center">
    <button assign="center" class="ab" onclick="window.location.href=' http://127.0.0.1:5000/predict'">Get Started</button>
    </nav>
</body>
</html>